*{
	box-sizing: border-box;
}

body{
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	background-color: #222;
}

.title{
	font-family: "Gotham Light";
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.2);
	letter-spacing: 0.2em;
	font-size: 2.5em;
}

#status{
	font-family: "Roboto";
	font-style: italic;
	font-size: 1em;
	color: rgba(255, 255, 255, 0.2);
	font-weight: normal;
}

.board{
	display: flex;
	width: 30em;
	height: 30em;
	/* border: 1px solid #CCC; */
	flex-wrap: wrap;
	font-size: 0.75em;
}

.tile{
	width: 31.33%;
	height: 31.33%;
	margin: 1%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
	/* border: 1px solid #DDD; */
	/* background-color: #EEE; */
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.05);
	transition: 0.4s;
}

/* .tile:active{
	background-color: rgba(255, 255, 255, 0.1);
} */

.tile.active{
	background-color: rgba(255, 255, 255, 0.1);
}

.tile.active.win{
	/* background-color: rgba(255, 255, 255, 0.2);  */
	border: 2px solid #888;
	/* box-shadow: 0 0 2px rgba(255, 255, 255, 1); */
}

span.o,
span.x{
	opacity: 0;
	transition: opacity 0.4s, transform 0.3s;
	position: absolute;
	width: 50%;
	height: 50%;
}

span.o{
	border-radius: 50%;
	display: inline-block;
	border: 0.5em solid #ed2a2a;
}

span.x{
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate(0, -0.25em);
}

.tile:active span.o,
.tile:focus span.o{
	transform: scale(1.7, 1.7);
}

.tile:active span.x,
.tile:focus span.x{
	transform: scale(1.7, 1.7) translate(0, -0.2em);
}

span.x:before,
span.x:after{
	content: "";
	display: inline-block;
	height: 100%;
	width: 0.5em;
	background-color: #3030f2;
}

span.x:before{
	transform: rotate(45deg) translate(0.25em, 0);
}

span.x:after{
	transform: rotate(-45deg) translate(-0.25em, 0);
}

#spinner{
	height: 2em;
	width: 2em;
	display: block;
	position: absolute;
	bottom: 1em;
	right: 1em;
	border: 0.25em solid #555;
	border-color: transparent #555 #555 #555;
	border-radius: 50%;
	/* opacity: 0; */
	animation: rotation 1.25s linear infinite;
	transition: 0.4s;
}

@keyframes rotation{
	0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}

@media screen and (max-width: 500px) {
	.title{
		font-size: 1.5em;
	}

	.board{
		width: 25em;
		height: 25em;
		font-size: 0.5em;
	}

	span.o{
		border-width: 0.5em;
	}

	span.x:before,
	span.x:after{
		width: 0.5em;
	}

	#spinner{
		height: 1.5em;
		width: 1.5em;
		border-width: 0.15em;
	}
}