*{
	box-sizing: border-box;
}

body{
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	background-color: #222;
}

.title{
	font-family: "Gotham Light";
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.2);
	letter-spacing: 0.2em;
	font-size: 2.5em;
}

#status{
	font-family: "Roboto";
	font-style: italic;
	font-size: 1em;
	color: rgba(255, 255, 255, 0.2);
	font-weight: normal;
}

.board{
	display: flex;
	width: 30em;
	height: 30em;
	/* border: 1px solid #CCC; */
	flex-wrap: wrap;
	font-size: 0.75em;
}

.tile{
	width: 31.33%;
	height: 31.33%;
	margin: 1%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
	/* border: 1px solid #DDD; */
	/* background-color: #EEE; */
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.05);
	transition: 0.4s;
}

/* .tile:active{
	background-color: rgba(255, 255, 255, 0.1);
} */

.tile.active{
	background-color: rgba(255, 255, 255, 0.1);
}

span.o{
	display: inline-block;
	width: 50%;
	height: 50%;
	border: 0.5em solid #ed2a2a;
	border-radius: 50%;
	position: absolute;
	opacity: 0;
	transition: 0.4s;
}
/* 
.tile:hover span.o{
	opacity: 0.5;
}

.tile:active span.o,
.tile:focus span.o{
	opacity: 1;
}

.tile:hover span.x{
	opacity: 0.5;
}

.tile:active span.x,
.tile:focus span.x{
	opacity: 1;
} */

span.x{
	position: absolute;
	height: 50%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(0, -0.25em);
	transition: 0.4s;
	opacity: 0;
	/* display: none; */
}

span.x:before,
span.x:after{
	content: "";
	display: inline-block;
	height: 100%;
	width: 0.5em;
	background-color: #3030f2;
}

span.x:before{
	transform: rotate(45deg) translate(0.25em, 0);
}

span.x:after{
	transform: rotate(-45deg) translate(-0.25em, 0);
}

@media screen and (max-width: 500px) {
	.title{
		font-size: 1.5em;
	}

	.board{
		width: 25em;
		height: 25em;
		font-size: 0.5em;
	}

	span.o{
		border-width: 0.5em;
	}

	span.x:before,
	span.x:after{
		width: 0.5em;
	}
}